* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 1440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #10382E;
    height: 80px;
}

nav a {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    margin-right: 53px;
}

select {
    border-radius: 6px;
    padding: .62em 1em;
    color: white;
    background-color: transparent;
    border: 1px solid #22C55E;
    cursor: pointer;
}

.hero {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-content: center;  
    background: radial-gradient(#22C55E, #05251D);
    background-image: url('assets/bg.png');
    background-size: cover;
    background-position: 0em -3em;
    background-repeat: no-repeat;
    height: 100vh;
}

.left {
    margin-left: 10em;
    width: 50%;
    color: white;
    margin-top: 12em;
}

.right {
    width: 50%;
}

.right img {
    display: flex;
    margin-top: 3em;
    margin-left: -3em;
}

h3 {
    background-color: #22C55E;
    width: fit-content;
    position: absolute;
    padding: .4em 1em;
    border-radius: 22px;
}

h1 {
    margin-top: 1em;
    font-size: 60px;
}

h2 {
    margin-top: 1em;
    font-size: 20px;
    font-weight: 500;
}

.action {
    margin-top: 4em;
}

.gr {
    padding: .8em 1em;
    border-radius: 6px;
    color: white;
    background-color: #22C55E;
    font-weight: 500;
    border: none;
    font-size: 18px;
}

.gy {
    padding: .8em 1em;
    border-radius: 6px;
    color: white;
    background-color: #404F65;
    font-weight: 500;
    border: none;
    font-size: 18px;
    margin-left: 1em;
}

.about {
    width: 1440px;
    background: radial-gradient(#78f9ae74 1%,#FFF 40%);
    background-position: 0 -10em;
}

.top {
    display: flex;
    margin-top: 6em;
}

.left-a h3 {
    color: #22C55E;
    background-color: #DCFCE7;
    font-weight: 500;
    font-size: 12px;
}

.left-a h1 {
    margin-top: .6em;
    color: #2A3342;
}

.left-a h2 {
    color: #556987;
    line-height: 144%;
}

.right-a img {
    border-radius: 22px;
}

.bot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
}

.info {
    background-color: #F7F8F9;
    border-radius: 6px;
    width: 360px;
    height: 370px;
}

.info img {
    margin-top: -4em;
    display: flex;    
    align-items: center;
}

.info h4 {
    margin-top: 3em;
    margin-left: 2.5em;
    font-size: 20px;
    font-weight: bold;
    color: #2A3342;
}

.info p {
    margin-top: 3em;
    margin-left: 3em;
    font-size: 16px;
    font-weight: 500;
    color: #556987;
    line-height: 144%;
}

.long {
    background-color: #2A3342;
    width: 1440px;
}

.o {
    display: block;
    padding-top: 1em;
    margin-top: 4em;
    padding-bottom: 8em;
}

.o h3 {
    color: #22C55E;
    margin-left: 6em;
    margin-top: 6em;
    background-color: #DCFCE7;
    font-weight: 500;
    font-size: 12px;
}

.o h1 {
    color: white;
    margin-left: 1.15em;
    margin-top: 2em;
}

.o h2 {
    color: #8896AB;
    line-height: 144%;
    margin-left: 3.8em;
}

.team {
    display: flex;
}

.lt {
    display: flex;
    margin-top: 4em;
}

.lt h4 {
    color: #D5DAE1;
    margin-top: 1em;
}

.lt p {
    color: #8896AB;
    margin-top: 1em;
}

.fig {
    color: #2AD168;
    font-size: 48px;
    font-weight: 200;
}

.spd, .vrc {
    text-align: center;
}

.mtc {
    margin-left: 4em;
}

.mtt {
    margin-top: 3em;
}
.s {
    width: 1440px;
    padding-bottom: 6em;
}

.s .tp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tp h3 {
    color: #22C55E;
    margin-top: 6em;
    margin-left: -16em;
    background-color: #DCFCE7;
    font-weight: 500;
    font-size: 12px;
}

.tp h1 {
    color: white;
    margin-left: -3.2em;
    margin-top: 2em;
}

.tp h2{
    color: #8896AB;
    line-height: 144%;
    margin-left: -9.5em;
}

.tp .ri {
    margin-top: 6em;
    margin-right: 8em;
}

.bt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 4em;
    margin-top: 4em;
}

.cont {
    width: 28.5%;
    height: 470px;
    padding: 2em;
    margin: 1em;
    background-color: white;
}

.cont h4 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 4em;
}

.cont p {
    margin-top: 2em;
    font-weight: 500;
    color: #556987;
}

.testi {
    width: 1440px;
    background-image: url('assets/pl.png');
    height: 320px;
    
}

.tmt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8em;
}

.person {
    display: flex;
}

.person div {
    margin-left: 2em;
    margin-top: 1.3em;
}

.name {
    font-size: 24px;
    font-weight: 500;
}

.mon {
    font-size: 24px;
    font-weight: 500;
    margin-left: -1em;
}

.proj {
    width: 1440px;
}

.tpp {
    text-align: center;
}

.tpp h3 {
    color: #22C55E;
    background-color: #DCFCE7;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    margin-top: 12em;
}

.tpp h1 {
    margin-top: .5em;
}

.tpp h2 {
    color: #556987;
    font-size: 20px;
    font-weight: 500;
    margin-top: 2em;
}

.con {
    display: flex;
}

.pp img {
    background-color: #05251D;
    width: 550px;
    padding: 8em;
    border-radius: 6px;
    height: 300px;
}

.pp {
    margin-top: 6em;
}

.pn {
    font-size: 36px;
    font-weight: bold;
    margin-top: .8em;
    display: block;
}

.bar {
    width: 1140px;
    height: 420px;
    background: radial-gradient(#10382E, black);
    margin-top: 12em;
    margin-bottom: 12em;
    border-radius: 22px;
}

.bar h1 {
    font-size: 34px;
    font-weight: bold;
    color: #78F9AE;
    text-align: center;
    padding-top: 3em;
}

.bar h2 {
    color: #8896AB;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.send {
    width: fit-content;
    margin-top: 2em;
    margin-left: 23em;
}

.send input {
    border-radius: 6px;
    border: none;
    height: 40px;
    width: 200px;
    color: black;
    padding-left: 1em;
}

.send button {
    margin-left: 1em;
    border-radius: 6px;
    height: 40px;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    color: white;
    background-color: #22C55E;
}

.pric {
    margin-left: 30.5em;
    margin-top: 1em;
    font-size: 12px;
    display: block;
    color: #556987;
}

.pric b {
    font-weight: 400;
    color: #2AD168;
}

.kontakt {
    width: 1440px;
    background-color: #323f50;
    padding-top: 4em;
    padding-bottom: 24em;
}

.kontakt h3 {
   text-align: center;
   position: relative;
   font-size: 12px;
   color: #14532D;
   background-color: #DCFCE7;
   font-weight: 500;
}

.kontakt h1 {
    text-align: center;
    margin-top: .5em;
    color: white;
}

.kontakt h2 {
    color: #8896AB;
    font-weight: 500;
    text-align: center;
}

.cts {
    display: flex;
    align-items: center;
    margin-top: 4em;
    justify-content: center;
}

.cts .cc {
    text-align: center;
}

.cts .cc .na {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 1em;
    display: block;
}

.cx {
    color: #8896AB;
    font-weight: 500;
}

.scls i {
    color: #2AD168;
    font-size: 24px;
    margin-right: .5em;
    margin-left: .5em;
}

.mapa {
    display: flex;
    margin-left: 10em;
    margin-top: 6em;
    position: absolute;
}

footer {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    padding-top: 32em;
    padding-bottom: 10em;
    background-image: url('assets/pl.png');
}

.start p {
    color: #556987;
    line-height: 144%;
    margin-top: 1em;
    font-size: 18px;
}

.slu nav a {
    display: flex;
    flex-direction: column;
    color: #556987;
    margin-top: 1em;
}

.mn {
    color: #2A3342;
    font-weight: bold;
    font-size: 18px;
}

.bx input {
    padding-left: 1em;
    padding-right: 1em;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #556987;
    margin-top: 1em;
}

.bx button {
    padding-left: 1em;
    padding-right: 1em;
    height: 40px;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #22C55E;
}

@media only screen and (max-width: 600px) {
    header {
        width: 100%;
    }
    header nav {
        display: none;
    }
    .hero .right img {
        display: none;
    }
    .hero .left {
        margin-left: 2em;
        margin-top: 4em;
    }
    .hero .left .action button {
        margin-left: 0;
    }
    .gy {
        margin-top: 1em;
    }
    .hero {
        width: 100%;
    }
    .about {
        width: 100%;
    }
    .about .top .right-a {
        display: none;
    }
    .about .top .left-a {
        margin-left: 2em;
    }
    .about .bot {
        flex-direction: column;
    }
    .bot .info {
        margin-top: 8em;
    }
    .long {
        width: 100%;
    }
    .rt {
        display: none;
    }
    .lt {
        display: flex;
        flex-direction: column;
    }
    .spd {
        margin-top: 4em;
        margin-left: -3em;
    }
    .testi {
        width: 100%;
    }
    .proj {
        width: 100%;
    }
    .s {
        width: 100%;
        margin-left: 6em;
    }
    .s .ri {
        margin-left: -7em;
    }
    .tp {
        flex-direction: column;
        margin-left: 0;
    }
    .bt {
        flex-direction: column;
        margin-left: -12em;
    }
    .cont {
        width: 50%;
    }
    .kontakt {
        width: 100%;
    }
    .kontakt .cts {
        flex-direction: column;
    }
    .kontakt .cts .ccs {
        margin-top: 4em;
    }
    .kontakt img {
        display: none;
    }
    footer {
        width: 100%;
        flex-direction: column;
    }
    footer .slu {
        margin-top: 6em;
    }
    .tmt .arrr {
        display: none;
    }
    .tmt {
        flex-direction: column;
    }
    .testi {
        height: 420px;
    }
    .o {
        margin-left: -2em;
    }
    .mon {
        margin-left: 2em;
        margin-top: 2em;
        padding-bottom: 8em;
    }
    .con {
        flex-direction: column;
    }
    .pp img {
        width: 400px;
        margin-left: -.5em;
    }
    .bar {
        padding: 2em;
        width: 400px;
        height: 600px;
    }
    .bar .send {
        flex-direction: column;
        margin-left: 1em;
    }
    .bar .pric {
        margin-left: 1em;
    }
}
