* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #151515;
    color: white;
}

body {
    padding: 4em;
    font-size: 1.2em;
    font-family: system-ui;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

h3 {
    margin-bottom: 1em;
    width: max-content;
}

blockquote {
    padding: .4em .8em;
    background-color: #ccc;
    width: max-content;
    border-radius: 6px;
    color: #151515;
    font-style: italic;
    font-weight: 300;
}

p {
    color: #ccc;
}

#mybtc {
    color: yellow;
    font-weight: bold;
}

#btc {
    color: orange;
    font-weight: bold;
}

#eur {
    color: royalblue;
    font-weight: bold;
    font-size: 2em;
    margin-top: .5em !important;
}

img {
    border-radius: 16px;
    display: none;
    object-fit: cover;
}